@font-face {
  font-family: Outfit-Bold;
  src: url(fonts/Outfit-Bold.ttf);
}

@font-face {
  font-family: Outfit-Medium;
  src: url(fonts/Outfit-Medium.ttf);
}

@font-face {
  font-family: Outfit-Regular;
  src: url(fonts/Outfit-Regular.ttf);
}

@font-face {
  font-family: Outfit-Black;
  src: url(fonts/Outfit-Black.ttf);
}

@font-face {
  font-family: Outfit-Light;
  src: url(fonts/Outfit-Light.ttf);
}

@font-face {
  font-family: Outfit-Black;
  src: url(fonts/Outfit-Black.ttf);
}

/* Ensure the page has a minimum height of 250px */
html, body {
    min-height: 250px; /* Set the minimum height */
    height: 100%; /* Ensure the page takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width/height */
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Initial state for fade-in effect */
.fade-in {
    opacity: 0; /* Start fully transparent */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1), transform 0.2s cubic-bezier(0.42, 0, 0.58, 1); /* Faster transition */
}

/* When the element is visible */
.fade-in.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

*{
    margin: 0;
    padding:0;
    font-family:"Arial";
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #fff;
}

#header{
}

.container{
    padding: 35px 4%;
    background-color: #000;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

.container2{
    margin-top: 0%;
    width: 100%;
    height: 63vh;
    background-image: url(images/work_background.png);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 315px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    margin-right: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    letter-spacing: 5px;
    font-family: Outfit-Regular;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #60CF8A;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

#contact_link{
    width: 300px;
    border: solid white 1px;
    padding: 10px;
    padding-left: 15px;
}

/* Initial state for the text animation */
.header-text {
    opacity: 0; /* Start fully transparent */
    transform: translateX(-100%); /* Start off-screen to the left */
    animation: slide-in-with-opacity 0.9s cubic-bezier(0.42, 0, 0.58, 1) forwards; /* Smooth transition with opacity */
}

/* Keyframes for the slide-in animation with opacity */
@keyframes slide-in-with-opacity {
    0% {
        opacity: 0; /* Fully transparent */
        transform: translateX(-100%); /* Off-screen to the left */
    }
    100% {
        opacity: 1; /* Fully visible */
        transform: translateX(4%); /* Original position */
    }
}

.header-text p{
    font-size: 20px;
    font-family:Outfit-Medium;
    letter-spacing: 5px;
}

.header-text p span{
    font-family: "Courier New";
}

.header-text h1{
    font-size: 48px;
    margin-top:20px;
    font-family:Outfit-Bold;
    line-height: 120%;
}

.header-text h1 span{
    color: #60CF8A;
    font-family: Outfit-Bold;
}

/*---------text react to screen size change----------*/
@media(max-width:1020px){
    .header-text h1{
        font-size: 42px;
    }
}

@media(max-width:900px){
    .header-text h1{
        font-size: 36px;
    }
}

/*--------portfolio--------------*/

.container3{
    padding: 40px 4%;
    color: #000;
}

.container3 h1{
    font-size: 48px;
    font-family: Outfit-Bold;
}

.container3 h1 span{
    color: #60CF8A;
    font-family: Outfit-Bold;
}

#portfolio{
    padding: 10px 0;

}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 8px;
    margin-top:40px;
}

.work{
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

#small_text{
    margin-left: 20px;
    color: #000;
    font-size: 16px;
    letter-spacing: 4px;
    font-family: Outfit-Light;
}

#small_but_bold{
    color: #000;
    font-family: Outfit-Black;
}

.layer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    opacity: 0%;
    transition: opacity 0.3s;
}

.layer h3{
    font-family: Outfit-Medium;
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.layer p{
    font-family: Outfit-Light;
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}

.layer-case {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    opacity: 0%;
    transition: opacity 0.3s;
}

.layer-case h3{
    font-family: Outfit-Medium;
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.layer-case p{
    font-family: Outfit-Light;
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}

.work:hover img{
    transform: scale(1.2);

}

.work:hover .layer-case{
    opacity: 100%;
}

.work:hover .layer{
    opacity: 100%;
}

.footer{
    font-size: 14px;
    color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: #ededed;
    padding: 40px 4%;
    letter-spacing: 3px;
}

.footer .copyright{
    color: #aaa;
    font-family: Outfit-Regular;
}

.case-study{
    margin-left: 4%;
    margin-top: 160px;
    font-size: 18px;
    font-family: Outfit-Bold;
    color: #000;
    line-height: 25px;
}

/*--.opening-image{
    background-image: url(images/bimaristan.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}--*/

.opening-image{
    min-height: 100vh;
}

.case-study h3{
    font-family: Outfit-Bold;
    font-size: 42px;
    margin-bottom: 30px;
    line-height: 45px;
    width: 96%;
}

.case-study h3 span{
    font-family: Outfit-Light;
    font-size: 42px;
}

.case-study h4{
    font-family: Outfit-Bold;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 45px;
    width: 96%;
}

.case-study h4 span{
    font-family: Outfit-Bold;
    color: #60CF8A;
}

.case-study p{
    font-family: Outfit-Regular;
    margin-bottom: 20px;
    width: 96%;
}

.pic-label{
    font-family: Outfit-Regular;
    font-size: 14px;
}

.case-study-image{
    /*---height: 80vh;--*/
    width: 96%;
    margin-bottom: 20px;
}

.case-study .tri-column{
    margin-right: 4%;
    margin-bottom: 30px;
}

.case-study .tri-column .boxed-text{
    border: solid;
    border-width: 2px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: fit-content;
    font-family: Outfit-Regular;
    line-height: 45px;
    margin-right: 5px;
    overflow: hidden;
    line-height: 52px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.case-study .tri-column .boxed-text span{
    font-family: Outfit-Bold;
}

/*---  popups  ---*/

.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
}

.popup-image span{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.popup-image img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media (max-width: 768px){
    .popup-image img{
        width: 95%;
    }
}

/*--
@media only screen and (max-width: 1300px){
    .case-study .tri-column{
        column-count: 3;
        font-family: Outfit-Regular;
    }

    .case-study .tri-column span{
        column-count: 3;
        border: solid;
        border-width: 2px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        width: fit-content;
        font-family: Outfit-Regular;
    }
}
--*/

/*--
.case-study .tri-column p span{
    column-count: 3;
    font-family: Outfit-Bold;
}
--*/

.case-study .tri-column2{
    column-count: 3;
    margin-right: 4%;
    margin-bottom: 10px;
}

.case-study .tri-column2 p{
    border: solid;
    border-width: 0px;
    width: fit-content;
}

.case-study .tri-column2 p span{
    font-family: Outfit-Bold;
    font-size: 30px;
}

.case-study .tri-column2 p span span{
    color: #60CF8A;
}

.column-photos-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 8px;
    margin-top:10px;
    margin-right: 4%;
    margin-bottom: 5px;
}

.column-photos{
    position: relative;
    overflow: hidden;
}

.column-photos img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

/*-------about me page--------*/

#about-me-text{
    font-size: 48px;
    margin-bottom: 20px;
}

